.menu-bar {
	display:none;
	background-color: #42A5F5;
	position:fixed;
	padding:0px;
	height:100%;
}

.menu-item {
	cursor:pointer;
	width:80px;
	height:80px;
	margin-left:calc(50% - 40px);
	margin-top:10px;
	background-color:#FFF;
	border-radius:150px;
}

.popover {
	width:100px;
	text-align:center;
}

.menu-bar div {
	background-position:center;
	background-size:90% 90%;
}

#animateTetra {
	background-image:url('../../imgs/animacaoTetra.png');
}
#linesTetra {
	background-image:url('../../imgs/tetraLines.png');
}
#tetra {
	background-image:url('../../imgs/tetra3d.png');
}
#animateOcta {
	background-image:url('../../imgs/animacaoOcta.png');
}
#linesOcta {
	background-image:url('../../imgs/octaLines.png');
}
#octa {
	background-image:url('../../imgs/octa3d.png');
}